.amount_table th {
    text-align: right;
}
.amount_table td {
    text-align: right;
    font-family: monospace;
}

/*
FIXME: These two don't work. Plus, the rupee symbol hard coding is yuck
*/
.amount_table td[data-value="₹0"] {
    visibility: collapse;
}
.amount_table td[data-value^="₹-"] {
    color: orange;
}
